<?php

// Database Deets
$_ENV["db_user"] = "root";
$_ENV["db_pass"] = "password";
$_ENV["db_name"] = "uranium";
$_ENV["db_host"] = "127.0.0.1";

// Password Settings
$_ENV["SALT"] = "osaingoiveruvnp9w8vp94bv";
$_ENV["COST"] = 6;
